@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FiraSans';
	src: url('/fonts/FiraSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CormorantGaramond';
	src: url('/fonts/CormorantGaramond-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LibreBaskerville';
	src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'CutiveMono';
	src: url('/fonts/CutiveMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'RobotoMono';
	src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

html * {
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--text-color);
	font-family: var(--font-sans);
	font-size: 16px;
	font-weight: var(--body);
	line-height: var(--default);
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--semibold);
	line-height: var(--dense);
}

a {
	color: currentColor;
	text-decoration: none;
}

a:hover {
	color: var(--primary);
}

a.active {
	font-weight: var(--bold);
}

tt,
code,
kbd {
	background: var(--black-fade-5);
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}

tt,
code,
kbd {
	font-family: var(--font-monospace);
	font-size: 90%;
}

tt,
code {
	background-color: var(--black-fade-5);
	border-radius: var(--radius-sm);
	font-weight: var(--medium);
	padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
	content: ' ';
	letter-spacing: -0.2em;
}

pre,
code {
	font-family: var(--font-monospace);
}

.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	text-align: left;
	max-width: 400px;
	margin: auto;
}

.textArea {
	display: grid;
}

.textArea *,
.form * {
	display: grid;
	justify-content: center;
	align-items: center;
}

.form input,
.form textarea {
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #aaa;
	border-radius: 2px;
	background: none;
	padding: 0.4rem 0.5rem;
	margin: 0;
	color: var(--brown);
}

.form textarea {
	resize: vertical;
}

.formbtn {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--white);
	background-color: var(--primary);
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	border-radius: 2px;
	padding: 0.4rem 0.5rem;
	margin-top: 1rem;
	margin-bottom: 3rem;
	color: var(--brown);
}

.formbtn:hover {
	color: var(--primary);
	background-color: var(--brown);
}

.fieldErrors {
	margin-top: -0.5rem;
	font-size: small;
	color: crimson;
	justify-self: right;
	grid-column: 1/span 2;
}

.formErrors {
	margin-top: 0.5rem;
	color: crimson;
	align-self: center;
	grid-column: 2/span 1;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials * {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.hide,
.hide * {
	display: none;
}